
<!-- Home Section -->
<div class="main-wrapper">
<div id="home">
	<div id="bg-slider-home">
		<div id="slider-wrapper">
			<div id="full-slider-wrapper">
				<div id="layerslider" style="width:100%;height:720px;max-width: 100%;">
					<div class="ls-slide" data-ls="slidedelay:8000;transition2d:4;" id="slide1">
						<!-- <img src="sliderimages/Eric_background.png" class="ls-bg" alt="Slide background"/> -->
						<!-- <img class="ls-l" style="top:230px;left:690px;white-space: nowrap;" data-ls="offsetxin:50;durationin:2000;delayin:800;offsetxout:50;durationout:1000;parallaxlevel:1;" src="sliderimages/ldoctor.png" alt=""> -->
						<img class="ls-l" style="top:100px;left:500px;white-space: nowrap;" data-ls="offsetxin:100;durationin:2000;delayin:1200;offsetxout:100;durationout:1000;parallaxlevel:3;" src="sliderimages/gdoctor.png" alt="">
						<h6 class="ls-l" style="
							top:350px;
							left:236px;
							height:40px;
							white-space: nowrap;
							color:#0eb2e7;
							font-size:.9em;
							font-weight:bold;
							" data-ls="
							durationin:2000;
							delayin:2000;
							rotatein:20;
							rotatexin:30;
							scalexin:1.5;
							scaleyin:1.5;
							transformoriginin:
							left 50% 0;
							durationout:750;
							rotateout:20;
							rotatexout:-30;
							scalexout:0;
							scaleyout:0;
							transformoriginout:left 50% 0;">
							歡迎光臨
						</h6>
						<h2 class="ls-l" style="
							top:370px;
							left:110px;
							text-transform:uppercase;
							font-size:3em;
							margin-bottom:20px;
							font-weight:bold;
							white-space: nowrap;
							" data-ls="
							offsetxin:0;
							durationin:2000;
							delayin:2300;
							rotateyin:90;
							skewxin:60;
							transformoriginin:25% 50% 0;
							offsetxout:100;
							durationout:750;
							skewxout:60;">
							張國順 牙醫師
						</h2>
						<p class="ls-l" style="
							top: 435.68px;
							left: 12.359px;
							font-size: 16px;
							padding: 0px 35.6016px;
							color: white;
							line-height: 24.668px;
							width: 600px;
							height: auto;
							margin-left: 0px;
							margin-top: 0px;
							opacity: 1;
							visibility: visible;
							text-align: center;
							" data-ls="
							durationin:2000;
							delayin:2800;
							rotatein:20;
							rotatexin:30;
							scalexin:1.5;
							scaleyin:1.5;
							transformoriginin:left 50% 0;
							durationout:750;
							rotateout:20;
							rotatexout:-30;
							scalexout:0;
							scaleyout:0;
							transformoriginout:left 50% 0;">
							我們致力于提供您最好的牙科照顧  
						</p>
						<h6 class="ls-l" style="
							top: 500.148px;
							left: 244.359px;
							color:#333;
							font-size:.9em;
							font-weight:bold;
							" data-ls="
							offsetxin:0;
							durationin:2000;
							delayin:3200;
							rotateyin:90;
							skewxin:60;
							transformoriginin:25% 50% 0;
							offsetxout:100;
							durationout:750;
							skewxout:60;">
							接受多種 <span style="font-family:'Open Sans';font-size:2em;letter-spacing:0px;color:#0eb2e7;">保險</span> 歡迎來電咨詢
						</h6>
					</div>
					<div class="ls-slide" data-ls="slidedelay:9500;transition2d:5;timeshift:-1500;" id="slide2">
						<!-- <img src="sliderimages/Eric_background2.png" class="ls-bg" alt="Slide background"/> -->
						<h6 class="ls-l" style="
							top:300px;
							left:236px;
							height:40px;
							white-space: nowrap;
							color:#0eb2e7;
							font-size:.9em;
							font-weight:bold;
							" data-ls="
							offsetxin:50;
							durationin:3000;
							rotateyin:60;
							transformoriginin:right 50% 0;
							offsetxout:-50;
							durationin:700;
							delayin:900;
							rotateyout:-60;
							transformoriginout:left 50% 0;">
							最貼身的照料
						</h6>
						<h2 class="ls-l" style="
							top:320px;
							left:110px;
							text-transform:uppercase;
							font-size:3em;
							margin-bottom:20px;
							font-weight:bold;
							white-space: nowrap;
							" data-ls="
							offsetxin:0;
							durationin:700;
							delayin:1300;
							rotateyin:90;
							skewxin:60;
							transformoriginin:25% 50% 0;
							offsetxout:100;
							durationout:750;
							skewxout:60;">
							順心家庭牙科
						</h2>
						<p class="ls-l" style="
							top: 385.68px;
							left: 43.359px;
							font-size: 16px;
							padding: 0px 29.6016px;
							color: #6A6A6A;
							line-height: 24.668px;
							width: 600px;
							height: auto;
							margin-left: 0px;
							margin-top: 0px;
							opacity: 1;
							visibility: visible;
							text-align: center;
							" data-ls="
							durationin:900;
							delayin:1700;
							rotatein:20;
							rotatexin:30;
							scalexin:1.5;
							scaleyin:1.5;
							transformoriginin:left 50% 0;
							durationout:750;
							rotateout:20;
							rotatexout:-30;
							scalexout:0;
							scaleyout:0;
							transformoriginout:left 50% 0;">
							我們診所是以“一切為病人，為了病人的一切”為中心理念，
							堅持認為牙醫診所的核心是病人，而不是牙醫診所本身。

						</p>
						<h6 class="ls-l" style="
							top: 450.148px;
							left: 244.359px;
							color:#333;
							font-size:.9em;
							font-weight:bold;
							" data-ls="
							offsetxin:0;
							durationin:1100;
							delayin:2000;
							rotateyin:90;
							skewxin:60;
							transformoriginin:25% 50% 0;
							offsetxout:100;
							durationout:750;
							skewxout:60;">請來電:
							<span style="font-family:'Open Sans';font-size:2em;letter-spacing:0px;color:#0eb2e7;">(718) 539-5306</span> 
						</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--  Background Slider Main ENds -->
	<div class="container bs-main">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
				<div class="logo hidden-sm hidden-md hidden-lg"><a href="/"><img src="assets/img/Eric_logo.png" alt="EricDental" /></a></div>
				<!-- Top Header and Navigation -->
				<div class="top-header hidden-xs">
					<div class="top-navigation">
						<ul class="top-nav list-unstyled list-inline">
							<li class="active"><a href="#home">主頁</a></li>
							<li><a href="#about">關於我們</a></li>
							<li><a href="#services4">服務項目</a></li>
							<li class="logo"><img src="assets/img/Eric_logo.png" alt="EricDental" /></li>
							<li><a href="#team">牙醫團隊</a></li>
							<!-- <li><a href="#services3">Resources</a></li> -->
							<li><a href="#contact">聯絡我們</a></li>
							<li><a href="/">English</a></li>
						</ul>
					</div>
					<!-- top navigation div -->
				</div>
				<!-- top header div -->
			</div>
			<!-- Column Count div -->
		</div>
	</div>
	<!-- Home Section -->
	<!-- Sticky & Main Header -->
	<div class="main-header">
		<div class="sticky-header">
			<div class="container">
				<div class="row">
					<div class="col-xs-8 col-sm-4 col-md-4 col-lg-4 pull-left">
						<div class="main-logo">
							<a href="/chinese"><img class="pull-left" src="assets/img/Eric_logo_sm.png" alt="EricDental"><span>張國順 牙醫博士</span></a>
						</div>
					</div>
					<div class="col-xs-4 col-sm-8 col-md-8 col-lg-8">
						<div class="main-navigation hidden-xs">
							<ul class="main-nav list-unstyled list-inline pull-right">
								<li class="active"><a href="#home">主頁</a></li>
								<li><a href="#about">關於我們</a></li>
								<li><a href="#services4">服務項目</a></li>
								<li><a href="#team">牙醫團隊</a></li>
								<!-- <li><a href="#services3">Resources</a></li> -->
								<li><a href="#contact">聯絡我們</a></li>
								<li><a href="/">English</a></li>
								
							</ul>
						</div>
						<!-- top navigation div -->
						<nav class="navbar navbar-default hidden-sm hidden-md hidden-lg" role="navigation">
							<div class="container-fluid">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									</button>
								</div>
								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="navbar-collapse-1">
									<ul class="nav navbar-nav">
										<li><a href="#home">主頁</a></li>
										<li><a href="#about">關於我們</a></li>
										<li><a href="#services4">服務項目</a></li>
										<li><a href="#team">牙醫團隊</a></li>
										<!-- <li><a href="#services3">Resources</a></li> -->
										<li><a href="#contact">聯絡我們</a></li>
										<li><a href="/">English</a></li>
										
									</ul>
								</div>
								<!-- /.navbar-collapse -->
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Sticky & Main Header -->
	<!-- About Section -->
	<section id="about" class="about">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="mission-stat text-center col-md-8 col-md-offset-2 bottom-space-50">
					<div class="text-center">
					    <a style='display:block;' href='http://www.zocdoc.com/practice/eric-chang-dds-family-dentist-36290' id='zocdoc_schedule'>
					        Eric Chang DDS Family Dentist
					    </a>
					    <a style='display:block; position:relative; left:126px;' href='http://www.zocdoc.com' title='Powered by ZocDoc Doctor Directory'>
					        <img src='http://offsiteSchedule.zocdoc.com/images/remote/powered-by-light.png' height='15' width='92' alt='Powered by ZocDoc Doctor Directory' />
					    </a>
					    <script type='text/javascript' src='http://offsiteSchedule.zocdoc.com/remote/Schedule2.js.aspx?providerid=36290&prefix=zocdoc_&bookBtn=http://offsiteSchedule.zocdoc.com/images/remote/book-black.png&locationId='>
					    </script>
					    
					</div>
					<hr>
						<h2>關於我們</h2>
						<h5>這是我們的理念</h5>
						<p class="lead">我們診所是以“一切為病人，為了病人的一切”為中心理念.這個理念都貫穿於全體員工日常的工作中。</p><p>堅持認為牙醫診所的核心是病人，而不是牙醫診所本身。 堅持認為牙醫醫療品質是牙醫診所能提供給病人最需要的醫療服務，而不是牙醫診所所能提供的服務。牙醫醫療品質是一個綜合性的系統工程,堅持以人為本的宗旨，明確要以靠增加牙醫診所在病人心中的滿意度、美譽度來獲得口碑，而不是靠通過增加病人的數量來獲利。  </p>
					</div>
					<!-- Information section -->
					<div class="information">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
								<img class="pull-center icon" src="assets/img/icons/individual.png" alt="icon" />
								<div class="info-col">
									<h5>病人需求為中心</h5>
									<p>首先要滿足病人對牙醫醫療的需求，牙醫醫療服務整體概念,即病人在接受某種牙醫醫療服務時，能滿足病人多方面的需求，在服務品質、方式等方面提供最佳的服務</p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
								<img class="pull-center icon" src="assets/img/icons/education.png" alt="icon" />
								<div class="info-col">
									<h5>醫療技術服務</h5>
									<p>我們將努力滿足不同病人對不同牙醫醫療技術服務的需求</p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
								<img class="pull-center icon" src="assets/img/icons/personal.png" alt="icon" />
								<div class="info-col">
									<h5>滿足病人的需求</h5>
									<p>牙醫醫學技術不斷進步、新的研究領域和市場領域不斷被開發、專業化分工更加精細、社會經濟與文化發展變化加速的環境下，我們診所以不斷追求新技術和購買新設備以符合病人對我們的期許</p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
								<img class="pull-center icon" src="assets/img/icons/durable.png" alt="icon" />
								<div class="info-col">
									<h5>給病人最大利益</h5>
									<p>以病人需求為中心，強調牙醫醫療服務給病人帶來的最大的利益
</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- About section -->
    <!-- Our Services -->
    <section id="services4" class="services4">
		<div class="service-bg">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
						<div class="services-stat text-center">
							<h2>服務項目</h2>
							<h5>我們專長</h5>
							<p class="lead">有需要預約或者您有任何疑問，請來電：
							</p><p class="lead" style="font-family:'Robo Condensed'"> (718) 539-5306</p>
							<img class="polygon" src="assets/img/general/polygon.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>
		<div class="bottom-space-50"></div>
		<div class="clearfix"></div>
		<div class="bottom-space-50"></div>
		<div class="services-info">
			<div class="container">
				<div class="col-md-6 no-padding service2-right s2-right">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<img class="pull-right icon" src="assets/img/icons/exam.png" alt="icon" />
							<div class="info-col">
								<h5>牙齒檢查</h5>
								<p></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="bottom-space-50"></div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<img class="pull-right icon" src="assets/img/icons/clean.png" alt="icon" />
							<div class="info-col">
								<h5>一般 ＆ 深層洗牙</h5>
								<p></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="bottom-space-50"></div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<img class="pull-right icon" src="assets/img/icons/filling.png" alt="icon" />
							<div class="info-col">
								<h5>美容補牙 ＆ 貼片</h5>
								<p></p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 no-padding s2-info">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<img class="pull-left icon" src="assets/img/icons/implant.png" alt="icon" />
							<div class="info-col ">
								<h5>人工植牙</h5>
								<p></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="bottom-space-50"></div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<img class="pull-left icon" src="assets/img/icons/white.png" alt="icon" />
							<div class="info-col">
								<h5>牙齒美白</h5>
								<p></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="bottom-space-50"></div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<img class="pull-left icon" src="assets/img/icons/denture.png" alt="icon" />
							<div class="info-col">	
								<h5>各式假牙 ＆ 牙周治療</h5>
								<p></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>
		<div class="bottom-space-50"></div>
	</section>

    <!--Our Services -->
	<!-- Job Section -->
	<!-- <section id="job">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					<div class="job-stat">
						<h3>are you looking for job?</h3>
						<h5>Lorem ipsum dolor sit amet</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adi pisicing elit, sed do eiusmod tempor incidid. Sed ut perspiciatis unde omnis iste natus error sit voluptatem. Lorem ipsum dolor sit amet, consectetur adi pisicing elit, sed do eiusmod tempor incidid. </p>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
					<a class="btn btn-primary btn-md apply-btn pull-right">Apply for a job</a>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</section> -->
	<!-- Job Section -->
	<!-- Services Section -->
	<!-- <section id="services2">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center services2-info clr1">
					<div class="clearfix"></div>
					<img class="pull-center icon" src="assets/img/icons/s2-ico1.png" alt="icon" />
					<div class="info-col">
						<h5>Health Information</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adi pisicing elit, sed do eiusmod tempor.</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center services2-info clr2">
					<div class="clearfix"></div>
					<img class="pull-center icon" src="assets/img/icons/s2-ico1.png" alt="icon" />
					<div class="info-col">
						<h5>Health Information</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adi pisicing elit, sed do eiusmod tempor.</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center services2-info clr3">
					<div class="clearfix"></div>
					<img class="pull-center icon" src="assets/img/icons/s2-ico1.png" alt="icon" />
					<div class="info-col">
						<h5>Health Information</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adi pisicing elit, sed do eiusmod tempor.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</section> -->
	<!-- Services Section -->
	
	<!-- Services Section -->
	<section id="services3">
		<div class="services-info3">
			<div class="container">
				<div class="mission-stat text-center col-md-8 col-md-offset-2 bottom-space-50">
					<h2>關注我們</h2>
					<h5>Like Us on Facebook</h5>
					<p class="lead">追蹤我們的近況跟文章!</p>
				

				<div class="bottom-space-50"></div>
				<div class="fb-like-box" data-href="https://www.facebook.com/pages/Eric-Chang-DDS-Family-Dentist/628002137313145" data-width="600" data-height="600" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true"></div>

				</div>
				<!-- <img src="assets/img/1.png" class="img-responsive" alt=""/> -->
				<div class="clearfix"></div>
			</div>
		</div>
	</section>
	<!-- Services Section -->
	
	<!-- Clients Section -->
	<!-- <section class="client-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
					<div class="client-stat text-center">
						<h3>Our Patients</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- Clients Section -->
	<!-- Team Section Starts -->
	<section id="team" style="background-color:rgb(249,249,249)">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-md-offset-2">
					<div class="team-stat text-center">
						<h2>牙醫團隊</h2>
						<h5>認識我們</h5>
						<p class="lead">為您介紹我們的醫療團隊</p>
					</div>
					<div class="team-filter-nav text-center">
						<ul id="filters" class="filter-nav list-inline list-unstyled">
							<li><a data-filter="*" class="current" href="#">全部</a></li>
							<!-- <li><a data-filter=".general" href="#">General</a></li>
							<li><a data-filter=".specialist" href="#">Specialist</a></li> -->
							<!-- <li><a data-filter=".laboratory" href="#">Laboratory</a></li> -->
						</ul>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div id="container" class="container team-detail">
					<div class="item general col-md-6">
						<div class="team-member">
							<a data-toggle="modal" data-target="#myModal">
								<div class="team-img">
									<img src="assets/img/ERIC.jpg" class="img-responsive" alt="" />
								</div>
							</a>
							<div class="member-details">
								<h6>牙醫師</h6>
								<h4>張國順</h4>
								<p>張博士畢業於Ursinus大學化學系，獲得Purdue大學醫藥化學碩士及紐約大學牙醫學博士學位；中英文流利，曾任紐約Bronx Lebanon 醫院牙科醫師、華埠社區醫療中心主治醫師，多年來深入社區，在牙醫領域擁有豐富的實務經驗。他的專業包括一般牙病症治療、植牙、根管治療、拔牙、牙套及牙橋等。</p>
								<div class="member-social">
									<h6>資訊</h6>
									<ul class="list-inline list-unstyled pull-right social">
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="https://www.facebook.com/pages/Eric-Chang-DDS-Family-Dentist/628002137313145"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="item laboratory col-md-6">
						<div class="team-member">
							<a data-toggle="modal" data-target="#myModal">
								<div class="team-img">
									<img src="assets/img/team/team-member2.jpg" class="img-responsive" alt="" />
								</div>
							</a>
							<div class="member-details">
								<h6>clinic Manager</h6>
								<h4>Frank Doe</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
								<div class="member-social">
									<h6>INFO</h6>
									<ul class="list-inline list-unstyled pull-right social">
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div> -->
					<!-- <div class="item specialist col-md-6">
						<div class="team-member">
							<a data-toggle="modal" data-target="#myModal">
								<div class="team-img">
									<img src="assets/img/team/team-member3.jpg" class="img-responsive" alt="" />
								</div>
							</a>
							<div class="member-details">
								<h6>clinic Manager</h6>
								<h4>Allan Doe</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
								<div class="member-social">
									<h6>INFO</h6>
									<ul class="list-inline list-unstyled pull-right social">
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div> -->
					<!-- <div class="item laboratory col-md-6">
						<div class="team-member">
							<a data-toggle="modal" data-target="#myModal">
								<div class="team-img">
									<img src="assets/img/team/team-member4.jpg" class="img-responsive" alt="" />
								</div>
							</a>
							<div class="member-details">
								<h6>Super Manager</h6>
								<h4>Silvia Tsai</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
								<div class="member-social">
									<h6>INFO</h6>
									<ul class="list-inline list-unstyled pull-right social">
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
			<hr>
			<!-- <div class="pagination-section">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-md-12 col-lg-12">
							<p class="pull-left">Showing <span>1-4</span> of 16 doctors</p>
							<ul class="pagination pull-right">
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">&raquo;</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</section>
	<!-- Team Section Starts -->
	<!-- Blog Section  -->
	<!-- <section id="projects">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
					<div class="blog-stat text-center">
						<h2>Our latest Projects</h2>
						<h5>Lorem ipsum dolor sit amet</h5>
						<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="bottom-space-50"></div>
				<ul class="projects-wrap">
					<li>
						<img src="assets/img/projects/1.jpg" class="img-responsive" alt=""/>
						<div class="overlay">
							<div class="overlay-inner">
								<h4>Clinic office <span>Durning work</span></h4>
								<span class="comments">30 comments</span>
								<a href="#">View more</a>
							</div>
						</div>
					</li>
					<li>
						<img src="assets/img/projects/2.jpg" class="img-responsive" alt=""/>
						<div class="overlay">
							<div class="overlay-inner">
								<h4>Clinic office <span>Durning work</span></h4>
								<span class="comments">30 comments</span>
								<a href="#">View more</a>
							</div>
						</div>
					</li>
					<li>
						<img src="assets/img/projects/3.jpg" class="img-responsive" alt=""/>
						<div class="overlay">
							<div class="overlay-inner">
								<h4>Clinic office <span>Durning work</span></h4>
								<span class="comments">30 comments</span>
								<a href="#">View more</a>
							</div>
						</div>
					</li>
					<li>
						<img src="assets/img/projects/4.jpg" class="img-responsive" alt=""/>
						<div class="overlay">
							<div class="overlay-inner">
								<h4>Clinic office <span>Durning work</span></h4>
								<span class="comments">30 comments</span>
								<a href="#">View more</a>
							</div>
						</div>
					</li>
					<li>
						<img src="assets/img/projects/5.jpg" class="img-responsive" alt=""/>
						<div class="overlay">
							<div class="overlay-inner">
								<h4>Clinic office <span>Durning work</span></h4>
								<span class="comments">30 comments</span>
								<a href="#">View more</a>
							</div>
						</div>
					</li>
					<li>
						<img src="assets/img/projects/6.jpg" class="img-responsive" alt=""/>
						<div class="overlay">
							<div class="overlay-inner">
								<h4>Clinic office <span>Durning work</span></h4>
								<span class="comments">30 comments</span>
								<a href="#">View more</a>
							</div>
						</div>
					</li>
					<li>
						<img src="assets/img/projects/7.jpg" class="img-responsive" alt=""/>
						<div class="overlay">
							<div class="overlay-inner">
								<h4>Clinic office <span>Durning work</span></h4>
								<span class="comments">30 comments</span>
								<a href="#">View more</a>
							</div>
						</div>
					</li>
					<li>
						<img src="assets/img/projects/8.jpg" class="img-responsive" alt=""/>
						<div class="overlay">
							<div class="overlay-inner">
								<h4>Clinic office <span>Durning work</span></h4>
								<span class="comments">30 comments</span>
								<a href="#">View more</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section> -->
	<!-- Blog Section  -->
	<div class="clearfix"></div>
	<!-- Doctor Section  -->
	<!-- <section id="doctor-info">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
					<div class="blog-stat text-center">
						<h2>Visit Us</h2>
						<h5>Lorem ipsum dolor sit amet</h5>
						<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<form class="appointment-form">
						<h4>Appointments form</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid</p>
						<label>NAME AND SURNAME</label>
						<input type="text" placeholder="Enter your name and surname">
						<label>CONTACT PHONE NUMBER</label>
						<input type="text" placeholder="Enter phone number">
						<label>PATIENT NUMBER</label>
						<input type="text" placeholder="Enter patient number">
						<div class="row">
							<div class="col-md-6">
								<label>DATE FROM</label>
								<div class='input-group date'>
									<input type='text' class="form-control" placeholder="30.01.2013" />
									<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
								</div>
							</div>
							<div class="col-md-6">
								<label>DATE TO</label>
								<div class='input-group date'>
									<input type='text' class="form-control" placeholder="30.01.2013" />
									<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
								</div>
							</div>
						</div>
						<div class="space20"></div>
						<label>HOURLY PREFERENCES</label>
						<ul class="hpref">
							<li class="active"><a>Morning</a></li>
							<li><a>Lunch</a></li>
							<li><a>Evening</a></li>
						</ul>
						<div class="space20"></div>
						<div class="clearfix"></div>
						<div class="space20"></div>
						<div class="submit-wrap row">
							<div class="col-md-7 cbox">
								<input type="checkbox"><span>send me copy of message</span>
							</div>
							<div class="col-md-5">
								<button type="submit">Send Message</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 services-info">
							<img class="pull-left icon" src="assets/img/icons/icon-1.png" alt="icon" />
							<div class="info-col">
								<h5>call center 24/7</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 services-info">
							<img class="pull-left icon" src="assets/img/icons/icon-5.png" alt="icon" />
							<div class="info-col">
								<h5>best specialist</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 services-info">
							<img class="pull-left icon" src="assets/img/icons/icon-6.png" alt="icon" />
							<div class="info-col">
								<h5>modern clinic</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 services-info">
							<img class="pull-left icon" src="assets/img/icons/icon-6.png" alt="icon" />
							<div class="info-col">
								<h5>modern clinic</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
				</div>
			</div>
		</div> -->
	<!-- </section> -->
	<!-- Doctor Section  -->

	<!-- Services Section -->
	
	<!-- Blog Section  -->

	<!-- <section id="blog">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
					<div class="blog-stat text-center">
						<h2>From the blog</h2>
						<h5>Lorem ipsum dolor sit amet</h5>
						<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
					</div>
				</div>
				<div id="blog-posts">
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<div class="blog-post">
							<div class="post-img">
								<img src="assets/img/blog/post-img1.jpg" class="img-responsive" alt="" />
								<img class="ab-icon" src="assets/img/blog/post-icon.png" alt="" />
							</div>
							<div class="info-col">
								<a href="./single_post.html">
									<h5>This is a Standard post format with preview picture</h5>
								</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid</p>
							</div>
							<ul class="list-inline list-unstyled post-nav">
								<li class="post-links"><a href=""><i class="icon-user"></i> The Ronins</a></li>
								<li class="post-links"><a href=""><i class="icon-calendar"></i> 23 October 2013</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<div class="blog-post">
							<div class="post-img">
								<img src="assets/img/blog/post-img2.jpg" class="img-responsive" alt="" />
								<img class="ab-icon" src="assets/img/blog/post-icon.png" alt="" />
							</div>
							<div class="info-col">
								<a href="./single_post.html">
									<h5>This is a Standard post format with preview picture</h5>
								</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid</p>
							</div>
							<ul class="list-inline list-unstyled post-nav">
								<li class="post-links"><a href=""><i class="icon-user"></i> The Ronins</a></li>
								<li class="post-links"><a href=""><i class="icon-calendar"></i> 23 October 2013</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<div class="blog-post">
							<div class="post-img">
								<img src="assets/img/blog/post-img3.jpg" class="img-responsive" alt="" />
								<img class="ab-icon" src="assets/img/blog/post-icon.png" alt="" />
							</div>
							<div class="info-col">
								<a href="./single_post.html">
									<h5>This is a Standard post format with preview picture</h5>
								</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid</p>
							</div>
							<ul class="list-inline list-unstyled post-nav">
								<li class="post-links"><a href=""><i class="icon-user"></i> The Ronins</a></li>
								<li class="post-links"><a href=""><i class="icon-calendar"></i> 23 October 2013</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- Blog Section  -->

	<div class="clearfix"></div>

	<!-- twitter Section -->
	<!-- <section id="twitter-feed">
		<div class="video-bg-overlay"></div>
		<div class="video-bg"> -->
			<!-- Video content -->
			<!-- <div class="video-container1">
				<iframe src="http://player.vimeo.com/video/96635299?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;loop=1" width="100" height="300"></iframe>
			</div> -->
			<!-- Video content -->
		<!-- </div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-center">
					<div class="tweet-section">
						<h2>Latest Tweets</h2>
						<h5>Check out our twitter</h5>
						<div id="tweet-slider" class="twitter-icon owl-carousel owl-theme">
							<div class="item">
								<i class="icon-twitter icon-2x"></i>
								<p class="lead">We are hiring! Calling all Ninjas, Rockstars and .... Clerics.<a href=""><u>enva.to/1pGuRf3</u></a>
								<div class="author-name">
									<p>Dominic Monaghan</p>
								</div>
							</div>
							<div class="item">
								<i class="icon-twitter icon-2x"></i>
								<p class="lead">We are hiring! Calling all Ninjas, Rockstars and .... Clerics.<a href=""><u>enva.to/1pGuRf3</u></a>
								<div class="author-name">
									<p>Dominic Monaghan</p>
								</div>
							</div>
							<div class="item">
								<i class="icon-twitter icon-2x"></i>
								<p class="lead">We are hiring! Calling all Ninjas, Rockstars and .... Clerics.<a href=""><u>enva.to/1pGuRf3</u></a>
								<div class="author-name">
									<p>Dominic Monaghan</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- twitter Section -->

	<!-- Contact form section -->
	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="contact-stat text-center">
						<h2>聯絡我們</h2>
						<h5>我們在這</h5>
						<p class="lead">需要預約看診，或是有問題請教張醫師，您可以由以下方式找到我們:</p>
					</div>
					<div class="text-center">
					    <a style='display:block;' href='http://www.zocdoc.com/practice/eric-chang-dds-family-dentist-36290' id='zocdoc_schedule'>
					        Eric Chang DDS Family Dentist
					    </a>
					    <a style='display:block; position:relative; left:126px;' href='http://www.zocdoc.com' title='Powered by ZocDoc Doctor Directory'>
					        <img src='http://offsiteSchedule.zocdoc.com/images/remote/powered-by-light.png' height='15' width='92' alt='Powered by ZocDoc Doctor Directory' />
					    </a>
					    <script type='text/javascript' src='http://offsiteSchedule.zocdoc.com/remote/Schedule2.js.aspx?providerid=36290&prefix=zocdoc_&bookBtn=http://offsiteSchedule.zocdoc.com/images/remote/book-black.png&locationId='>
					    </script>
					    
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
							<div class="info-col text-center">
								<h4>開診時間</h4>
								<p class="contact-time">星期一:   10:00 AM to 6:00 PM <br>星期二:    10:00 AM to 6:00 PM<br>星期三: 休診<br>星期四:  10:00 AM to 6:00 PM<br>星期五: 10:00 AM to 6:00 PM<br>星期六: 9:00 AM to 5:00 PM
									</p>

								
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<div class="info-col text-center">
								<h4>診所地址</h4>
								<p class="clinic-add">3625 Union St Suite C </p> <p> Flushing, NY, 11354 </p><p> (<a href="https://www.google.com/maps/dir//36-25+Union+St,+Flushing,+NY+11354/@40.7634722,-73.8280349,17z/data=!4m13!1m4!3m3!1s0x89c2601a919551c7:0x3106a2467ac959a1!2s36-25+Union+St,+Flushing,+NY+11354!3b1!4m7!1m0!1m5!1m1!1s0x89c2601a919551c7:0x3106a2467ac959a1!2m2!1d-73.8280349!2d40.7634722">導航 </a>)</p>
								<p class="phone" style="font-size:22px;margin-top:8px">(718) 539-5306</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<div class="info-col text-center">
								<h4>電子信箱 </h4>
								<p class="contact-email">我們很樂意解答您的疑問</p>
								<p class="email"><a href="mailto:ericchangdds@gmail.com">ericchangdds@gmail.com</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact form section -->



<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-6 no-padding">
							<img src="assets/img/ERIC.jpg" class="img-responsive" alt=""/>
						</div>
						<div class="col-md-6 team-pop-info">
							<button data-dismiss="modal" class="m-close"></button>
							<h4><span>Primary Dentist</span> Eric Chang</h4>
							<p>Dr. Eric Chang was born in Taipei, Taiwan, and immigrated with the family to York, PA in 1992. After graduating with honor from York High school in 1996, he attended Ursinus college where he majored in Chemistry.  After college graduation, Dr. Chang went on to pursue his master degree at Purdue University where he studied and researched in the field of bio-organic chemistry. ...<a href="#">read more </a>
</p>
							<ul class="tp-meta">
								<li><span>Phone Number</span> <em>(718) 539-5306</em></li>
								<li><span>Email Address</span> <em>ericchangdds@gmail.com</em></li>
								<li><span>Place of work</span> <em>Flushing</em></li>
								<li><span>Responsibilities</span> <em>Head of Clinic</em></li>
							</ul>
							<div class="row">
								<div class="tp-social">
									<div class="col-md-6 no-padding">
										<span>Social Profiles</span>
									</div>
									<div class="col-md-6 no-padding">
										<ul>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram"></i></a></li>
											<li><a href="#"><i class="fa fa-skype"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>

google.maps.event.trigger(map, 'resize');

</script>

