

<!-- Home Section -->
<div class="main-wrapper">
<div id="home">
	<div id="bg-slider-home">
		<div id="slider-wrapper">
			<div id="full-slider-wrapper">
				<div id="layerslider" style="width:100%;height:720px;max-width: 100%;">
					<div class="ls-slide" data-ls="slidedelay:8000;transition2d:4;" id="slide1">
						<!-- <img src="sliderimages/Eric_background.png" class="ls-bg" alt="Slide background"/> -->
						<!-- <img class="ls-l" style="top:230px;left:690px;white-space: nowrap;" data-ls="offsetxin:50;durationin:2000;delayin:800;offsetxout:50;durationout:1000;parallaxlevel:1;" src="sliderimages/ldoctor.png" alt=""> -->
						<img class="ls-l" style="top:100px;left:500px;white-space: nowrap;" data-ls="offsetxin:100;durationin:2000;delayin:1200;offsetxout:100;durationout:1000;parallaxlevel:3;" src="sliderimages/gdoctor.png" alt="">
						<h6 class="ls-l" style="
							top:350px;
							left:236px;
							height:40px;
							white-space: nowrap;
							color:#0eb2e7;
							font-size:.9em;
							font-weight:bold;
							" data-ls="
							durationin:2000;
							delayin:2000;
							rotatein:20;
							rotatexin:30;
							scalexin:1.5;
							scaleyin:1.5;
							transformoriginin:
							left 50% 0;
							durationout:750;
							rotateout:20;
							rotatexout:-30;
							scalexout:0;
							scaleyout:0;
							transformoriginout:left 50% 0;">
							Welcome by
						</h6>
						<h2 class="ls-l" style="
							top:370px;
							left:110px;
							text-transform:uppercase;
							font-size:3em;
							margin-bottom:20px;
							font-weight:bold;
							white-space: nowrap;
							" data-ls="
							offsetxin:0;
							durationin:2000;
							delayin:2300;
							rotateyin:90;
							skewxin:60;
							transformoriginin:25% 50% 0;
							offsetxout:100;
							durationout:750;
							skewxout:60;">
							Dr. Enyoung Park &<br/>
							Dr. Terry Lin
						</h2>
						<p class="ls-l" style="
							top: 435.68px;
							left: 12.359px;
							font-size: 16px;
							padding: 0px 35.6016px;
							padding-top: 30px;
							color: white;
							line-height: 24.668px;
							width: 600px;
							height: auto;
							margin-left: 0px;
							margin-top: 0px;
							opacity: 1;
							visibility: visible;
							text-align: center;
							" data-ls="
							durationin:2000;
							delayin:2800;
							rotatein:20;
							rotatexin:30;
							scalexin:1.5;
							scaleyin:1.5;
							transformoriginin:left 50% 0;
							durationout:750;
							rotateout:20;
							rotatexout:-30;
							scalexout:0;
							scaleyout:0;
							transformoriginout:left 50% 0;">
							We're dedicated to provide the best dental care experience.
							  
						</p>

						<h6 class="ls-l" style="
							top: 500.148px;
							left: 244.359px;
							color:#333;
							font-size:.9em;
							font-weight:bold;
							" data-ls="
							offsetxin:0;
							durationin:2000;
							delayin:3200;
							rotateyin:90;
							skewxin:60;
							transformoriginin:25% 50% 0;
							offsetxout:100;
							durationout:750;
							skewxout:60;">
							Most <span style="font-family:'Open Sans';font-size:2em;letter-spacing:0px;color:#0eb2e7;">Insurance</span> Accepted
						</h6>
					</div>
					<div class="ls-slide" data-ls="slidedelay:9500;transition2d:5;timeshift:-1500;" id="slide2">
						<!-- <img src="sliderimages/Eric_background2.png" class="ls-bg" alt="Slide background"/> -->
						<h6 class="ls-l" style="
							top:300px;
							left:236px;
							height:40px;
							white-space: nowrap;
							color:#0eb2e7;
							font-size:.9em;
							font-weight:bold;
							" data-ls="
							offsetxin:50;
							durationin:3000;
							rotateyin:60;
							transformoriginin:right 50% 0;
							offsetxout:-50;
							durationin:700;
							delayin:900;
							rotateyout:-60;
							transformoriginout:left 50% 0;">
							Personal care is our speciality
						</h6>
						<h2 class="ls-l" style="
							top:320px;
							left:110px;
							text-transform:uppercase;
							font-size:3em;
							margin-bottom:20px;
							font-weight:bold;
							white-space: nowrap;
							" data-ls="
							offsetxin:0;
							durationin:700;
							delayin:1300;
							rotateyin:90;
							skewxin:60;
							transformoriginin:25% 50% 0;
							offsetxout:100;
							durationout:750;
							skewxout:60;">
							ParkLin Dental, PC
						</h2>
						<p class="ls-l" style="
							top: 385.68px;
							left: 43.359px;
							font-size: 16px;
							padding: 0px 29.6016px;
							color: #6A6A6A;
							line-height: 24.668px;
							width: 600px;
							height: auto;
							margin-left: 0px;
							margin-top: 0px;
							opacity: 1;
							visibility: visible;
							text-align: center;
							" data-ls="
							durationin:900;
							delayin:1700;
							rotatein:20;
							rotatexin:30;
							scalexin:1.5;
							scaleyin:1.5;
							transformoriginin:left 50% 0;
							durationout:750;
							rotateout:20;
							rotatexout:-30;
							scalexout:0;
							scaleyout:0;
							transformoriginout:left 50% 0;">
							We build our practice on quality service. We know your time is valuable and strive to see you at your appointed time. 

						</p>
						<h6 class="ls-l" style="
							top: 450.148px;
							left: 244.359px;
							color:#333;
							font-size:.9em;
							font-weight:bold;
							" data-ls="
							offsetxin:0;
							durationin:1100;
							delayin:2000;
							rotateyin:90;
							skewxin:60;
							transformoriginin:25% 50% 0;
							offsetxout:100;
							durationout:750;
							skewxout:60;">Call:
							<span style="font-family:'Open Sans';font-size:2em;letter-spacing:0px;color:#0eb2e7;">(914)-232-8182</span> 
						</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--  Background Slider Main ENds -->
	<div class="container bs-main">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
				<div class="logo hidden-sm hidden-md hidden-lg"><a href="/"><img src="assets/img/Eric_logo.png" alt="EricDental" /></a></div>
				<!-- Top Header and Navigation -->
				<div class="top-header hidden-xs">
					<div class="top-navigation">
						<ul class="top-nav list-unstyled list-inline">
							<li class="active"><a href="#home">Home</a></li>
							<li><a href="#about">About Us</a></li>
							<li><a href="#services4">Services</a></li>
							<li class="logo"><img src="assets/img/Eric_logo.png" alt="EricDental" /></li>
							<li><a href="#team">Team</a></li>
							<!-- <li><a href="#services3">Resources</a></li> -->
							<li><a href="#contact">Contact</a></li>
							<li><a href="/chinese">中文</a></li>
						</ul>
					</div>
					<!-- top navigation div -->
				</div>
				<!-- top header div -->
			</div>
			<!-- Column Count div -->
		</div>
	</div>
	<!-- Home Section -->
	<!-- Sticky & Main Header -->
	<div class="main-header">
		<div class="sticky-header">
			<div class="container">
				<div class="row">
					<div class="col-xs-8 col-sm-4 col-md-4 col-lg-4 pull-left">
						<div class="main-logo">
							<a href="/"><img class="pull-left" src="assets/img/Eric_logo_sm.png" alt="ParkLinkDental"><span style="display:inline-block;padding-top:11px;">ParkLin Dental, PC</span></a>
						</div>
					</div>
					<div class="col-xs-4 col-sm-8 col-md-8 col-lg-8">
						<div class="main-navigation hidden-xs">
							<ul class="main-nav list-unstyled list-inline pull-right">
								<li class="active"><a href="#home">Home</a></li>
								<li><a href="#about">About Us</a></li>
								<li><a href="#services4">Services</a></li>
								<li><a href="#team">team</a></li>
								<!-- <li><a href="#services3">Resources</a></li> -->
								<li><a href="#contact">Contact</a></li>
								<li><a href="/chinese">中文</a></li>
							</ul>
						</div>
						<!-- top navigation div -->
						<nav class="navbar navbar-default hidden-sm hidden-md hidden-lg" role="navigation">
							<div class="container-fluid">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									</button>
								</div>
								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="navbar-collapse-1">
									<ul class="nav navbar-nav">
										<li><a href="#home">Home</a></li>
										<li><a href="#about">About Us</a></li>
										<li><a href="#services4">Services</a></li>
										<li><a href="#team">Team</a></li>
										<!-- <li><a href="#services3">Resources</a></li> -->
										<li><a href="#contact">Contact</a></li>
										<li><a href="/chinese">中文</a></li>
									</ul>
								</div>
								<!-- /.navbar-collapse -->
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Sticky & Main Header -->
	<!-- About Section -->
	<section id="about" class="about">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="mission-stat text-center col-md-8 col-md-offset-2 bottom-space-50">
					<div class="text-center">
					    <a style='display:block;' href='http://www.zocdoc.com/practice/eric-chang-dds-family-dentist-36290' id='zocdoc_schedule'>
					        Eric Chang DDS Family Dentist
					    </a>
					    <a style='display:block; position:relative; left:126px;' href='http://www.zocdoc.com' title='Powered by ZocDoc Doctor Directory'>
					        <img src='http://offsiteSchedule.zocdoc.com/images/remote/powered-by-light.png' height='15' width='92' alt='Powered by ZocDoc Doctor Directory' />
					    </a>
					    <script type='text/javascript' src='http://offsiteSchedule.zocdoc.com/remote/Schedule2.js.aspx?providerid=36290&prefix=zocdoc_&bookBtn=http://offsiteSchedule.zocdoc.com/images/remote/book-black.png&locationId='>
					    </script>
					    
					</div>
					<hr>
						<h2>Our Practice</h2>
						<h5>We Value Your Visits</h5>
						<p class="lead">Our dental office is dedicated to providing the best possible dental care experience to our patients. </p><p>Our gentle, caring and knowledgeable staff guarantees the comfort of every member of your family. Whether you require oral health maintenance or a smile makeover, we will give you the personalized attention that you deserve.  </p>
					</div>

					<!-- Information section -->
					<div class="information">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
								<img class="pull-center icon" src="assets/img/icons/individual.png" alt="icon" />
								<div class="info-col">
									<h5>Individual Care</h5>
									<p>Focusing on the individual goals of each patient, we deliver comprehensive dentistry in a convenient, relaxing and comfortable state-of-the-art setting.</p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
								<img class="pull-center icon" src="assets/img/icons/education.png" alt="icon" />
								<div class="info-col">
									<h5>Dental Education</h5>
									<p>We are committed to educating you about your dental conditions and explaining the different treatment options to you.</p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
								<img class="pull-center icon" src="assets/img/icons/personal.png" alt="icon" />
								<div class="info-col">
									<h5>Personal Care</h5>
									<p>We know your time is valuable and strive to see you at your appointed time. We promise to take the time to address your questions and concerns.</p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
								<img class="pull-center icon" src="assets/img/icons/durable.png" alt="icon" />
								<div class="info-col">
									<h5>Durable Work</h5>
									<p>We believe that each restoration we craft is a precision work of art, ready to be used for years of enjoyment. We provide 100% satisfaction guarantee of our works for one year.
</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- About section -->
    <!-- Our Services -->
    <section id="services4" class="services4">
		<div class="service-bg">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
						<div class="services-stat text-center">
							<h2>Services we offer</h2>
							<h5>Come see us</h5>
							<p class="lead">If you would like more information about any of the procedures that we offer or to request an appointment, please call us at 
							</p><p class="lead" style="font-family:'Robo Condensed'">(914) 232-8182</p>
							<img class="polygon" src="assets/img/general/polygon.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>
		<div class="bottom-space-50"></div>
		<div class="clearfix"></div>
		<div class="bottom-space-50"></div>
		<div class="services-info">
			<div class="container">
				<div class="col-md-6 no-padding service2-right s2-right">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<img class="pull-right icon" src="assets/img/icons/exam.png" alt="icon" />
							<div class="info-col">
								<h5>Complete Dental Exam</h5>
								<p><ul style="text-align:left;list-style-type:none;position:relative;left:12vw">
								<li> Digital X-rays </li> 
								<li> Intra-Oral Camera </li> 
								<li> &nbsp;</li> 
								
								
									</ul></p>
							</div>
						</div>

						<div class="clearfix"></div>
						<div class="bottom-space-50"></div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<img class="pull-right icon" src="assets/img/icons/clean.png" alt="icon" />
							<div class="info-col">
								<h5>General & Deep Cleaning</h5>
								<p>  <ul style="text-align:left;list-style-type:none;position:relative;left:12vw">
								<li> Dental Cleaning</li> 
								<li> Fluoride Treatment </li> 
								<li> Sealants </li> 
								<li> Home Care</li> 
								<li> &nbsp;</li> 
								<li> &nbsp;</li> 
									</ul></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="bottom-space-50"></div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<img class="pull-right icon" src="assets/img/icons/filling.png" alt="icon" />
							<div class="info-col">
								<h5>Cosmetic Filling</h5>
								<p><ul style="text-align:left;list-style-type:none;position:relative;left:12vw">
										<li>Composite Fillings </li>
										<li>Porcelain Veneers </li>
										<li>Dental Implants </li>
										<li>Porcelain Onlays </li>
										<li>Porcelain Inlays </li>
										<li>Porcelain Crowns (Caps) </li>
										<li>Porcelain Fixed Bridges </li>
										<li>Teeth Whitening </li>
										<li>Denture and Partial Dentures </li>
									</ul></p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 no-padding s2-info">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<img class="pull-left icon" src="assets/img/icons/implant.png" alt="icon" />
							<div class="info-col ">
								<h5>Dental Implant</h5>
								<p><ul style="text-align:left;list-style-type:none;position:relative;right:1vw">
										<li>Single Tooth Replacement</li>
										<li>Multiple Teeth Replacement</li>
										<li>Full Arch Replacement</li>
									</ul></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="bottom-space-50"></div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<img class="pull-left icon" src="assets/img/icons/white.png" alt="icon" />
							<div class="info-col">
								<h5>Teeth Whitening</h5>
								<p><ul style="text-align:left;list-style-type:none;position:relative;right:1vw">
										<li>Zoom Bleaching</li>
										<li>Take Home Bleaching</li>
										<li> &nbsp;</li> 
      									<li> &nbsp;</li> 
      									<li> &nbsp;</li> 
      									<li> &nbsp;</li> 

										
									</ul></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="bottom-space-50"></div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<img class="pull-left icon" src="assets/img/icons/ortho.png" alt="icon" />
							<div class="info-col">	
								<h5>Orthodontics</h5>
								<p><ul style="text-align:left;list-style-type:none;position:relative;right:1vw">
										<li>Invisalign</li>
										<li> &nbsp;</li> 
      									<li> &nbsp;</li> 
      									<li> &nbsp;</li>

										
									</ul></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="bottom-space-50"></div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<img class="pull-left icon" src="assets/img/icons/periodontal.png" alt="icon" />
							<div class="info-col">	
								<h5>Periodontal Disease</h5>
								<p><ul style="text-align:left;list-style-type:none;position:relative;right:1vw">
								<li>Diagnosis</li>
								<li>Scaling and Root Planing</li>
								<li>Periodontal Surgery</li>
								<li>&nbsp; &nbsp; &nbsp; &nbsp;Periodontal Maintenance</li>
								</ul></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>
		<div class="bottom-space-50"></div>
	</section>

    <!--Our Services -->
	<!-- Job Section -->
	<!-- <section id="job">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					<div class="job-stat">
						<h3>are you looking for job?</h3>
						<h5>Lorem ipsum dolor sit amet</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adi pisicing elit, sed do eiusmod tempor incidid. Sed ut perspiciatis unde omnis iste natus error sit voluptatem. Lorem ipsum dolor sit amet, consectetur adi pisicing elit, sed do eiusmod tempor incidid. </p>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
					<a class="btn btn-primary btn-md apply-btn pull-right">Apply for a job</a>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</section> -->
	<!-- Job Section -->
	<!-- Services Section -->
	<!-- <section id="services2">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center services2-info clr1">
					<div class="clearfix"></div>
					<img class="pull-center icon" src="assets/img/icons/s2-ico1.png" alt="icon" />
					<div class="info-col">
						<h5>Health Information</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adi pisicing elit, sed do eiusmod tempor.</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center services2-info clr2">
					<div class="clearfix"></div>
					<img class="pull-center icon" src="assets/img/icons/s2-ico1.png" alt="icon" />
					<div class="info-col">
						<h5>Health Information</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adi pisicing elit, sed do eiusmod tempor.</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center services2-info clr3">
					<div class="clearfix"></div>
					<img class="pull-center icon" src="assets/img/icons/s2-ico1.png" alt="icon" />
					<div class="info-col">
						<h5>Health Information</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adi pisicing elit, sed do eiusmod tempor.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</section> -->
	<!-- Services Section -->
	
	<!-- Services Section -->
	<section id="services3">
		<div class="services-info3">
			<div class="container">
				<div class="mission-stat text-center col-md-8 col-md-offset-2 bottom-space-50">
					<h2>We're Social</h2>
					<h5>Like Us on Facebook</h5>
					<p class="lead">Get the most up to date news and dental education posts!</p>
				

				<div class="bottom-space-50"></div>
				<div class="fb-like-box" data-href="https://www.facebook.com/pages/Eric-Chang-DDS-Family-Dentist/628002137313145" data-width="500" data-height="600" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true"></div>

				</div>
				<!-- <img src="assets/img/1.png" class="img-responsive" alt=""/> -->
				<div class="clearfix"></div>
			</div>
		</div>
	</section>
	<!-- Services Section -->
	
	<!-- Clients Section -->
	<!-- <section class="client-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
					<div class="client-stat text-center">
						<h3>Our Patients</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- Clients Section -->
	<!-- Team Section Starts -->
	<section id="team" style="background-color:rgb(249,249,249)">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-md-offset-2">
					<div class="team-stat text-center">
						<h2>Meet Our Staff</h2>
						<h5>Who we are</h5>
						<p class="lead">Come meet and greet our expanding team.</p>
					</div>
					<div class="team-filter-nav text-center">
						<ul id="filters" class="filter-nav list-inline list-unstyled">
							<li><a data-filter="*" class="current" href="#">All</a></li>
							<!-- <li><a data-filter=".general" href="#">General</a></li>
							<li><a data-filter=".specialist" href="#">Specialist</a></li> -->
							<!-- <li><a data-filter=".laboratory" href="#">Laboratory</a></li> -->
						</ul>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div id="container" class="container team-detail">
					<div class="item general col-md-6">
						<div class="team-member dr-park-container">
							<a data-toggle="modal" data-target="#drPark">
								<div class="team-img">
									<img src="assets/img/ERIC.jpg" class="img-responsive" alt="" />
								</div>
							</a>
							<div class="member-details">
								<h4>Enyoung Park</h4>
								<p>Dr. Enyoung Park holds a Bachelor of Arts degree in Psychology from Cornell University, College of Arts and Sciences. She received her Doctor of Dental Surgery degree from New York University. She then completed her post-graduate training at Columbia University College of Dental Medicine and received her certificate in Advanced Education in General Dentistry.</p>
								<div class="member-social">
									<h6>INFO</h6>
									<ul class="list-inline list-unstyled pull-right social">
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="item general col-md-6">
						<div class="team-member">
							<a data-toggle="modal" data-target="#drLin">
								<div class="team-img">
									<img src="assets/img/ERIC.jpg" class="img-responsive" alt="" />
								</div>
							</a>
							<div class="member-details">
								<h4>Terry Y. Lin</h4>
								<p>Dr. Terry Y. Lin holds a Bachelor of Science degree in Molecular Cell Biology and a Master of Science degree in Biomedical Engineering from the University of California, Los Angeles. He received his Doctor of Dental Surgery degree as well as post- graduate specialty training in Prosthodontics from the New York University College of Dentistry. Dr. Lin has also completed additional one year fellowship at the Memorial Sloan-Kettering Cancer Center in Maxillofacial Prosthetics and Dental Oncology.</p>
								<div class="member-social">
									<h6>INFO</h6>
									<ul class="list-inline list-unstyled pull-right social">
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="item specialist col-md-6">
						<div class="team-member">
							<a data-toggle="modal" data-target="#myModal">
								<div class="team-img">
									<img src="assets/img/team/team-member3.jpg" class="img-responsive" alt="" />
								</div>
							</a>
							<div class="member-details">
								<h6>clinic Manager</h6>
								<h4>Allan Doe</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
								<div class="member-social">
									<h6>INFO</h6>
									<ul class="list-inline list-unstyled pull-right social">
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div> -->
					<!-- <div class="item laboratory col-md-6">
						<div class="team-member">
							<a data-toggle="modal" data-target="#myModal">
								<div class="team-img">
									<img src="assets/img/team/team-member4.jpg" class="img-responsive" alt="" />
								</div>
							</a>
							<div class="member-details">
								<h6>Super Manager</h6>
								<h4>Silvia Tsai</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
								<div class="member-social">
									<h6>INFO</h6>
									<ul class="list-inline list-unstyled pull-right social">
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
			<hr>
			<!-- <div class="pagination-section">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-md-12 col-lg-12">
							<p class="pull-left">Showing <span>1-4</span> of 16 doctors</p>
							<ul class="pagination pull-right">
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">&raquo;</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</section>
	<!-- Team Section Starts -->
	<!-- Blog Section  -->
	<!-- <section id="projects">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
					<div class="blog-stat text-center">
						<h2>Our latest Projects</h2>
						<h5>Lorem ipsum dolor sit amet</h5>
						<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="bottom-space-50"></div>
				<ul class="projects-wrap">
					<li>
						<img src="assets/img/projects/1.jpg" class="img-responsive" alt=""/>
						<div class="overlay">
							<div class="overlay-inner">
								<h4>Clinic office <span>Durning work</span></h4>
								<span class="comments">30 comments</span>
								<a href="#">View more</a>
							</div>
						</div>
					</li>
					<li>
						<img src="assets/img/projects/2.jpg" class="img-responsive" alt=""/>
						<div class="overlay">
							<div class="overlay-inner">
								<h4>Clinic office <span>Durning work</span></h4>
								<span class="comments">30 comments</span>
								<a href="#">View more</a>
							</div>
						</div>
					</li>
					<li>
						<img src="assets/img/projects/3.jpg" class="img-responsive" alt=""/>
						<div class="overlay">
							<div class="overlay-inner">
								<h4>Clinic office <span>Durning work</span></h4>
								<span class="comments">30 comments</span>
								<a href="#">View more</a>
							</div>
						</div>
					</li>
					<li>
						<img src="assets/img/projects/4.jpg" class="img-responsive" alt=""/>
						<div class="overlay">
							<div class="overlay-inner">
								<h4>Clinic office <span>Durning work</span></h4>
								<span class="comments">30 comments</span>
								<a href="#">View more</a>
							</div>
						</div>
					</li>
					<li>
						<img src="assets/img/projects/5.jpg" class="img-responsive" alt=""/>
						<div class="overlay">
							<div class="overlay-inner">
								<h4>Clinic office <span>Durning work</span></h4>
								<span class="comments">30 comments</span>
								<a href="#">View more</a>
							</div>
						</div>
					</li>
					<li>
						<img src="assets/img/projects/6.jpg" class="img-responsive" alt=""/>
						<div class="overlay">
							<div class="overlay-inner">
								<h4>Clinic office <span>Durning work</span></h4>
								<span class="comments">30 comments</span>
								<a href="#">View more</a>
							</div>
						</div>
					</li>
					<li>
						<img src="assets/img/projects/7.jpg" class="img-responsive" alt=""/>
						<div class="overlay">
							<div class="overlay-inner">
								<h4>Clinic office <span>Durning work</span></h4>
								<span class="comments">30 comments</span>
								<a href="#">View more</a>
							</div>
						</div>
					</li>
					<li>
						<img src="assets/img/projects/8.jpg" class="img-responsive" alt=""/>
						<div class="overlay">
							<div class="overlay-inner">
								<h4>Clinic office <span>Durning work</span></h4>
								<span class="comments">30 comments</span>
								<a href="#">View more</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section> -->
	<!-- Blog Section  -->
	<div class="clearfix"></div>
	<!-- Doctor Section  -->
	<!-- <section id="doctor-info">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
					<div class="blog-stat text-center">
						<h2>Visit Us</h2>
						<h5>Lorem ipsum dolor sit amet</h5>
						<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<form class="appointment-form">
						<h4>Appointments form</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid</p>
						<label>NAME AND SURNAME</label>
						<input type="text" placeholder="Enter your name and surname">
						<label>CONTACT PHONE NUMBER</label>
						<input type="text" placeholder="Enter phone number">
						<label>PATIENT NUMBER</label>
						<input type="text" placeholder="Enter patient number">
						<div class="row">
							<div class="col-md-6">
								<label>DATE FROM</label>
								<div class='input-group date'>
									<input type='text' class="form-control" placeholder="30.01.2013" />
									<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
								</div>
							</div>
							<div class="col-md-6">
								<label>DATE TO</label>
								<div class='input-group date'>
									<input type='text' class="form-control" placeholder="30.01.2013" />
									<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
								</div>
							</div>
						</div>
						<div class="space20"></div>
						<label>HOURLY PREFERENCES</label>
						<ul class="hpref">
							<li class="active"><a>Morning</a></li>
							<li><a>Lunch</a></li>
							<li><a>Evening</a></li>
						</ul>
						<div class="space20"></div>
						<div class="clearfix"></div>
						<div class="space20"></div>
						<div class="submit-wrap row">
							<div class="col-md-7 cbox">
								<input type="checkbox"><span>send me copy of message</span>
							</div>
							<div class="col-md-5">
								<button type="submit">Send Message</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 services-info">
							<img class="pull-left icon" src="assets/img/icons/icon-1.png" alt="icon" />
							<div class="info-col">
								<h5>call center 24/7</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 services-info">
							<img class="pull-left icon" src="assets/img/icons/icon-5.png" alt="icon" />
							<div class="info-col">
								<h5>best specialist</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 services-info">
							<img class="pull-left icon" src="assets/img/icons/icon-6.png" alt="icon" />
							<div class="info-col">
								<h5>modern clinic</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 services-info">
							<img class="pull-left icon" src="assets/img/icons/icon-6.png" alt="icon" />
							<div class="info-col">
								<h5>modern clinic</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
				</div>
			</div>
		</div> -->
	<!-- </section> -->
	<!-- Doctor Section  -->

	<!-- Services Section -->
	
	<!-- Blog Section  -->

	<!-- <section id="blog">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
					<div class="blog-stat text-center">
						<h2>From the blog</h2>
						<h5>Lorem ipsum dolor sit amet</h5>
						<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
					</div>
				</div>
				<div id="blog-posts">
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<div class="blog-post">
							<div class="post-img">
								<img src="assets/img/blog/post-img1.jpg" class="img-responsive" alt="" />
								<img class="ab-icon" src="assets/img/blog/post-icon.png" alt="" />
							</div>
							<div class="info-col">
								<a href="./single_post.html">
									<h5>This is a Standard post format with preview picture</h5>
								</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid</p>
							</div>
							<ul class="list-inline list-unstyled post-nav">
								<li class="post-links"><a href=""><i class="icon-user"></i> The Ronins</a></li>
								<li class="post-links"><a href=""><i class="icon-calendar"></i> 23 October 2013</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<div class="blog-post">
							<div class="post-img">
								<img src="assets/img/blog/post-img2.jpg" class="img-responsive" alt="" />
								<img class="ab-icon" src="assets/img/blog/post-icon.png" alt="" />
							</div>
							<div class="info-col">
								<a href="./single_post.html">
									<h5>This is a Standard post format with preview picture</h5>
								</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid</p>
							</div>
							<ul class="list-inline list-unstyled post-nav">
								<li class="post-links"><a href=""><i class="icon-user"></i> The Ronins</a></li>
								<li class="post-links"><a href=""><i class="icon-calendar"></i> 23 October 2013</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<div class="blog-post">
							<div class="post-img">
								<img src="assets/img/blog/post-img3.jpg" class="img-responsive" alt="" />
								<img class="ab-icon" src="assets/img/blog/post-icon.png" alt="" />
							</div>
							<div class="info-col">
								<a href="./single_post.html">
									<h5>This is a Standard post format with preview picture</h5>
								</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid</p>
							</div>
							<ul class="list-inline list-unstyled post-nav">
								<li class="post-links"><a href=""><i class="icon-user"></i> The Ronins</a></li>
								<li class="post-links"><a href=""><i class="icon-calendar"></i> 23 October 2013</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- Blog Section  -->

	<div class="clearfix"></div>

	<!-- twitter Section -->
	<!-- <section id="twitter-feed">
		<div class="video-bg-overlay"></div>
		<div class="video-bg"> -->
			<!-- Video content -->
			<!-- <div class="video-container1">
				<iframe src="http://player.vimeo.com/video/96635299?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;loop=1" width="100" height="300"></iframe>
			</div> -->
			<!-- Video content -->
		<!-- </div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-center">
					<div class="tweet-section">
						<h2>Latest Tweets</h2>
						<h5>Check out our twitter</h5>
						<div id="tweet-slider" class="twitter-icon owl-carousel owl-theme">
							<div class="item">
								<i class="icon-twitter icon-2x"></i>
								<p class="lead">We are hiring! Calling all Ninjas, Rockstars and .... Clerics.<a href=""><u>enva.to/1pGuRf3</u></a>
								<div class="author-name">
									<p>Dominic Monaghan</p>
								</div>
							</div>
							<div class="item">
								<i class="icon-twitter icon-2x"></i>
								<p class="lead">We are hiring! Calling all Ninjas, Rockstars and .... Clerics.<a href=""><u>enva.to/1pGuRf3</u></a>
								<div class="author-name">
									<p>Dominic Monaghan</p>
								</div>
							</div>
							<div class="item">
								<i class="icon-twitter icon-2x"></i>
								<p class="lead">We are hiring! Calling all Ninjas, Rockstars and .... Clerics.<a href=""><u>enva.to/1pGuRf3</u></a>
								<div class="author-name">
									<p>Dominic Monaghan</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- twitter Section -->

	<!-- Contact form section -->
	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="contact-stat text-center">
						<h2>Contact Us</h2>
						<h5>We are here</h5>
						<p class="lead">To make an appointment or to get more information about the Dr. Eric Chang’s office.  Please call us at the number listed below:</p>
					</div>
					<div class="text-center">
					    <a style='display:block;' href='http://www.zocdoc.com/practice/eric-chang-dds-family-dentist-36290' id='zocdoc_schedule'>
					        Eric Chang DDS Family Dentist
					    </a>
					    <a style='display:block; position:relative; left:126px;' href='http://www.zocdoc.com' title='Powered by ZocDoc Doctor Directory'>
					        <img src='http://offsiteSchedule.zocdoc.com/images/remote/powered-by-light.png' height='15' width='92' alt='Powered by ZocDoc Doctor Directory' />
					    </a>
					    <script type='text/javascript' src='http://offsiteSchedule.zocdoc.com/remote/Schedule2.js.aspx?providerid=36290&prefix=zocdoc_&bookBtn=http://offsiteSchedule.zocdoc.com/images/remote/book-black.png&locationId='>
					    </script>
					    
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<div class="info-col text-center">
								<h4>We're Open</h4>
								<p class="contact-time">Monday:   08:00 AM to 05:00 PM <br>Tuesday:    08:00 AM to 05:00 PM<br>Wednesday: 08:00 AM to 05:00 PM<br>Thursday:  08:00 AM to 05:00 PM<br>Friday: 08:00 AM to 05:00 PM<br>Saturday: 9:00 AM to 5:00 PM
									</p>

								
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<div class="info-col text-center">
								<h4>Office Address</h4>
								<p class="clinic-add">190 Goldens Bridge Road </p> <p>Katonah, NY 10536</p><p> (<a href="https://www.google.com/maps/dir//190+Goldens+Bridge+Road,+Katonah,+NY/@41.277895,-73.6855664,16z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x89c2b1bec41b7c53:0xf62ac288dbbe34ca!2m2!1d-73.681189!2d41.277887">Directions </a>)</p>
								<p class="phone">(914) 232-8182</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<div class="info-col text-center">
								<h4>Email Address</h4>
								<p class="contact-email">We are happy to answer any questions</p>
								<p class="email"><a href="mailto:ericchangdds@gmail.com">parklindental@gmail.com</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact form section -->

	



<!-- Modal -->
<div class="modal fade" id="drPark" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-6 no-padding">
							<img src="assets/img/ERIC.jpg" class="img-responsive" alt=""/>
						</div>
						<div class="col-md-6 team-pop-info">
							<button data-dismiss="modal" class="m-close"></button>
							<h4>Enyoung Park</h4>
							<p>Dr. Park spent extensive time in Europe and Asia during childhood. In her spare time, she enjoys walks in Central Park, knitting, and baking.
							</p>
							<ul class="tp-meta">
								<li><span>Phone Number</span> <em>(914) 232-8182</em></li>
								<li><span>Email Address</span> <em>parklindental@gmail.com</em></li>
								<li><span>Place of work</span> <em>Katonah, NY</em></li>
							</ul>
							<div class="row">
								<div class="tp-social">
									<div class="col-md-6 no-padding">
										<span>Social Profiles</span>
									</div>
									<div class="col-md-6 no-padding">
										<ul>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram"></i></a></li>
											<li><a href="#"><i class="fa fa-skype"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal fade" id="drLin" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-6 no-padding">
							<img src="assets/img/ERIC.jpg" class="img-responsive" alt=""/>
						</div>
						<div class="col-md-6 team-pop-info">
							<button data-dismiss="modal" class="m-close"></button>
							<h4>Enyoung Park</h4>
							<p class="dr-lin-profile-desc">Dr. Lin is Board-certified by the American Board of Prosthodontics and the only Taiwanese American who has achieved board certification status in the Greater New York areas. Dr. Lin is the Diplomate of American Board of Prosthodontics, Fellow of American College of Prosthodontists, and Associate Fellow in American Academy of Maxillofacial Prosthetics. <br/>
							<br/>
							Dr. Lin maintains a private practice in New Hyde Park, New York, specializing in Prosthodontics, Implant Prosthetics, and Maxillofacial Prosthetics. He is currently a Clinical Assistant Professor in the Department of Prosthodontics at the New York University College of Dentistry. <br/>
							<br/>
							During his career, Dr. Lin has been given major Prosthodontics awards at both national and local levels in recognition for his excellence in patient care and dental research: Joseph B. Barron Award (2012), John J. Sharry Award (2011), Kenneth Adisman Award (2011), American College of Prosthodontists Young Star (2011), and Harold Litvak Fellowship Award (2009).  In addition, Dr. Lin also holds five first place finishes in research competitions:  American Academy of Fixed Prosthodontics (2011), American Prosthodontic Society (2011, 2010), Academy of American Maxillofacial Prosthetics (2010), American College of Prosthodontists, New York Section (2010). 
							</p>
							<ul class="tp-meta">
								<li><span>Phone Number</span> <em>(914) 232-8182</em></li>
								<li><span>Email Address</span> <em>parklindental@gmail.com</em></li>
								<li><span>Place of work</span> <em>Katonah, NY</em></li>
							</ul>
							<div class="row">
								<div class="tp-social">
									<div class="col-md-6 no-padding">
										<span>Social Profiles</span>
									</div>
									<div class="col-md-6 no-padding">
										<ul>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram"></i></a></li>
											<li><a href="#"><i class="fa fa-skype"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->


