// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.pull-left div.main-logo {
	margin-top: 20px;
}

.dr-park-container {
	min-height: 402px;
}

p.dr-lin-profile-desc {
	max-height: 247px;
	overflow: scroll;
	border: 1px #E6E6E6 solid;
}

div.team-img {
	height: 170px
}

div.footer2 img, div.logo a img, li.logo img {
	width: 80px;
	height: 70px;
}

a img.mid-logo {
	width: 50px;
	height: 40px;
}

div.second-slide-container div.second-slide {
	color: red;
	margin-left: 1000px !important;
}
