// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.pull-left div.main-logo {
	margin-top: 20px;
}

.dr-park-container {
	min-height: 402px;
}

p.dr-lin-profile-desc {
	max-height: 247px;
	overflow: scroll;
	border: 1px gray solid;
}